.card {
    border-radius: 1px;
    background-color: #d2cecedd;
    border: none;
    height:110px;
    width:255px;
    z-index: -1;
}
.employeeImg{
    width:90px;
    height:90px;
}

ul{
    font-size:17px;
    color: gray;
}
.buttons{
margin-left:18px;
}
.icon{
    border-radius:4px;
    font-size:10px;
    margin-right: 4px;
    border:none;
    background-color: #aeadad;
}
.emails{
    color: #aeadad;
}

.employeeLabel{
    font-size: 35px;
   margin-top: -15px;
    margin-left: 30px;
   color: rgb(47, 44, 44);
}

.content { 
    position: fixed; 
    top: 30%; 
    left: 30%; 
    background-color:white;
    box-shadow: 0 0px 10px 3px rgb(0 0 0 /0.2);
    border-radius: 6px;
    width: 650px; 
    height: 450px;
    padding: 12px;
} 
.editbtn{
    margin-left: 33px;
    width:70px;
}
.updatebtn{
    margin-left: 250px;
    width:100px;
}


.confirmation-popup {
    position: absolute;
    top:58%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    align-items: center;
    padding: 65px;
    margin-left: 90px;
    border-radius: 8px;
    width:500px;
    height:200px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .confirmation-popup button {
    margin-right: 50px;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 34px;
  }
  
  .confirmation-popup button.btn-danger {
    background-color: #dc3545;
    color: #fff;
  }
  
  .confirmation-popup button.btn-secondary {
    background-color: #6c757d;
    color: #fff;
  }
  
  .confirmation-popup button:hover {
    opacity: 0.8;
  }
  