.editForm{
    /* display: block; */
    background-color:white;
    width:800px;
    padding: 25px;
    position:absolute;
    box-shadow: 0 0px 10px 3px rgb(0 0 0 /0.2);
    border-radius: 6px;
}
.Updatelabel{
    margin-top:-12%;
}
.align{
  margin-left: 130px;
  width: 120px;
}
.formate{
    margin-left: 440px;
    width:120px;
}

.close{
    position: absolute;
    right: 30px;
    top: 15px;
    font-size: 20px;
    font-weight: bold;
  }
  .closepopup{
    color: #a09c9c!important;
  }
  .closepopup:hover,.closepopup:focus {
    color: #f44336!important;
  } 
  .updatebtn{
    margin-left:620px;
  }
  .reset{
    margin-left:320px;
    width:100px;
  }