.userSignform{
  background: none;
  background-color:rgb(236, 229, 229);
  width:800px;
  padding: 25px;
  display: block;
  position:absolute;
  box-shadow: 0 0px 10px 3px rgb(0 0 0 /0.2);
  border-radius: 6px;
  z-index: 3;
}
.reset{
    width:200px;
}
.formate{
    margin-left: 440px;
    width:120px;
}
.close{
    position: absolute;
    right: 30px;
    top: 15px;
    font-size: 20px;
    font-weight: bold;
  }
  .closepopup{
    color: #a09c9c!important;
  }
  .closepopup:hover,.closepopup:focus {
    color: #f44336!important;
  } 
  .error{
    color: #f44336;
  }