.userSignform {
  background-color: rgb(255, 255, 255);
  width: 800px;
  padding: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  box-shadow: 0 0px 10px 3px rgb(0 0 0 / 0.2);
  border-radius: 6px;
  left: 22%; 
  top: 50%; 
  transform: translate(-28%, -20%); 
}

.formatebtn{
    margin-left: 440px;
    width:120px;
}
.close{
    position: absolute;
    right: 30px;
    top: 15px;
    font-size: 20px;
    font-weight: bold;
  }
  .closepopup{
    color: #a09c9c!important;
  }
  .closepopup:hover,.closepopup:focus {
    color: #f44336!important;
  } 
  .error{
    color: #f44336;
  }
  .updatebtn{
    margin-left:620px;
  }
  .resetbtn{
    margin-left:400px;
    margin-top: -12px;
    width:125px;
  }